@import "compass";
@import "compass/reset";
@import "compass/layout/grid-background";
@import "compass/css3/animation";

@import "_fonts";
@import "_colors";
@import "_mixins";

@import "_videoFillers";



html{
    font-size: 62.5%;
}
body{
    background: $blue;
    font-size:1.6rem;
    line-height: 2.0em;
    font-family: 'JunicodeRegular', serif;
}
b,
strong {
  font-family: 'JunicodeBold', serif;
  font-weight: 600;
  font-size: 2.0rem;
}
i,
em {
  font-family: 'JunicodeItalicCondensed', serif;
  font-size: 2.5rem;
}
a {
  text-decoration: none;
}
.clearFix:after{
  content: '';
  clear:both;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'JunicodeBoldCondensed', serif;
    margin: 5px 0;
}
h1{
    font-size: 7.0rem;
    font-weight: 900;
}
h2{
    font-size:3.5rem;
    font-weight:700;
    font-style:italic;
}
h3{
  font-size: 2.0rem;
  font-style: italic;
}
ul{
    list-style: disc;
}
li{
    line-height:2.4rem;
}
blockquote{
  border-left: 1px solid blue;
  padding-left: 1em;
}
p+p,
p+blockquote,
blockquote+p{
    margin-top:0.75em;
}



header,
body>section,
body>nav,
footer {
  width: 100%;
  padding: 20px 15px 25px 30px;
  box-sizing:border-box;
}

/* Content Sections */
body>section {
  background: $darkGray;
  color: rgb(140, 140, 140);
  overflow-x: hidden;
  a,
  a:visited {
    color: $beige;
    @include underline($beige, #1e1e1e);
  }
  a.imgLink {
    background: none;
    text-shadow: none;
  }

}
article{
  position:relative;
  .permalink {
    position:absolute;
    left: -20px;
  }
  &+article {
    margin-top: 45px;
  }

  img,
  .embeddedVideo-container,
  .imgLink {
    display: inline-block;
  }

  p,
  img,
  blockquote,
  video,
  ul,
  .embeddedVideo-container {
      width:100%;
      max-width:612px;
  }
}

@import '_header';
@import '_present';
@import '_past';
@import '_post';
@import '_tag';
@import '_pagination';
@import '_footer';

/* Animations and Decorative Elements */
@import '_animations';
@import '_archive';

@import '_view-narrow';
@import '_view-wide';
