@import "compass";
@import "compass/reset";
@import "compass/layout/grid-background";
@import "compass/css3/animation";

@import "_fonts";
@import "_colors";
@import "_mixins";
@import "_typestyles";

@import "_videoFillers";



html{
    font-size: 62.5%;
}
body{
    background: $present-accent-color;
    background: $background-color;
}

a {
  text-decoration: none;
}
.clearFix:after{
  content: '';
  clear:both;
  display: block;
}


ul{
    list-style: disc;
    margin: 1em 0;
}
li{
    line-height:2.4rem;
    list-style: none;
    padding: 0;
    padding-left: 1em;
    text-indent: -1em;

    &:before {
      content: '•';
      padding-right: 0.5em;
      color: $tertiary-color;
    }
}
blockquote{
  border-left: 1px solid $link-color;
  padding-left: 1em;

  p {
    width: calc(100% - 1em);
  }
}
p+p,
p+blockquote,
blockquote+p{
    margin-top:0.75em;
}




header,
body>nav,
footer {
  width: 100%;
  padding: 20px 15px 25px 30px;
  box-sizing:border-box;
}

article {
  padding: 0 15px 0 30px;
}

/* Content Sections */
body>section {
  background: $background-color;
  color: $text-color;
  a,
  a:visited {
    color: $link-color;
    @include underline($link-color, $background-color);
  }
  a.imgLink {
    background: none;
    text-shadow: none;
  }

}
article{
  position:relative;
  .permalink {
    position:absolute;
    left: 10px;
  }
  &+article {
    margin-top: 45px;
  }

  img,
  .embeddedVideo-container,
  .imgLink {
    display: inline-block;
    vertical-align: top;
  }

  p,
  img,
  blockquote,
  video,
  ul {
      width:100%;
      max-width:612px;
  }
}

@import '_header';
@import '_section';
@import '_present';
@import '_past';
@import '_post';
@import '_tag';
@import '_pagination';
@import '_footer';

/* Animations and Decorative Elements */
@import '_animations';
@import '_archive';

@import '_view-narrow';
@import '_view-wide';
