@import "compass";
@import "compass/reset";
@import "compass/layout/grid-background";
@import "compass/css3/animation";

@import "_fonts";
@import "_colors";
@import "_mixins";
@import "_typestyles";

@import "_videoFillers";



html{
    font-size: 62.5%;
}
body{
    background: $blue;
    font-size:1.6rem;
    line-height: 2.0em;
    font-family: 'JunicodeRegular', serif;
}
b,
strong {
  font-family: 'JunicodeBold', serif;
  font-weight: 600;
  font-size: 2.0rem;
}
i,
em {
  font-family: 'JunicodeItalicCondensed', serif;
  font-size: 2.5rem;
}
a {
  text-decoration: none;
}
.clearFix:after{
  content: '';
  clear:both;
  display: block;
}


ul{
    list-style: disc;
    margin: 1em 0;
}
li{
    line-height:2.4rem;
    list-style: none;
    padding: 0;

    &:before {
      content: '•';
      padding-right: 0.5em;
      color: $lightBeige;
    }
}
blockquote{
  border-left: 1px solid blue;
  padding-left: 1em;

  p {
    width: calc(100% - 1em);
  }
}
p+p,
p+blockquote,
blockquote+p{
    margin-top:0.75em;
}




header,
body>section,
body>nav,
footer {
  width: 100%;
  padding: 20px 15px 25px 30px;
  box-sizing:border-box;
}

/* Content Sections */
body>section {
  background: $darkGray;
  color: rgb(140, 140, 140);
  overflow-x: hidden;
  a,
  a:visited {
    color: $beige;
    @include underline($beige, #1e1e1e);
  }
  a.imgLink {
    background: none;
    text-shadow: none;
  }

}
article{
  position:relative;
  .permalink {
    position:absolute;
    left: -20px;
  }
  &+article {
    margin-top: 45px;
  }

  img,
  .embeddedVideo-container,
  .imgLink {
    display: inline-block;
    vertical-align: top;
  }

  p,
  img,
  blockquote,
  video,
  ul,
  .embeddedVideo-container {
      width:100%;
      max-width:612px;
  }
}

@import '_header';
@import '_section';
@import '_present';
@import '_past';
@import '_post';
@import '_tag';
@import '_pagination';
@import '_footer';

/* Animations and Decorative Elements */
@import '_animations';
@import '_archive';

@import '_view-narrow';
@import '_view-wide';
