<header <% if(!splash){ %>class="past"<% } %>>
  <h1><a href="/"><%= config.title %> <span class="flip">¶</span></a></h1>
  <% if (theme.subtitle){ %>
    <h2>
      Hello, <a class="inlineLink" href="/about/">I am</a> an artist, designer, and developer. I work in journalism, video production, and web development —
    </h2>
    <h4>
      (“durational media for storytelling.”)
    </h4>
  <% } %>
  <ul>
      <li><a href="https://github.com/tylerpaige">github @tylerpaige</a></li>
      <li><a href="https://twitter.com/tylerpaige">twitter @tylerpaige</a></li>
      <li><a href="http://cusos.org">Free Cooper Union</a></li>
      <li><a href="https://pinboard.in/u:tylerpaige/">pinboard/u:tylerpaige</a></li>
      <li>self at tylerpaige.com</li>
  </ul>
  <ul>
    <li class="noBullet">______ work</li>
    <li><a href="/tagged/web">web</a></li>
    <li><a href="/tagged/journalism">journalism</a></li>
    <li><a href="/tagged/video">video</a></li>
    <li><a href="/tagged/illustration">illustration</a></li>
  </ul>
</header>
