<header <% if(!splash){ %>class="past"<% } %>>
  <h1><a href="/"><%= config.title %> <span class="flip">¶</span></a></h1>
  <% if (theme.subtitle){ %>
    <p>
      <%= theme.subtitle %>
    </p>
  <% } %>
  <p class="highlight">
    Hi, I am an artist, designer, and developer.
  </p>
  <ul>
      <li><a href="http://266w25st.com">266w25st</a></li>
      <li><a href="https://github.com/tylerpaige/">Github</a></li>
      <li><a href="http://cusos.org">Free Cooper Union</a></li>
      <li><span class="highlight">me at tylerpaige.com</span></li>
  </ul>
  <ul>
    <i>______</i> work
    <li><a href="/tagged/web">web</a></li>
    <li><a href="/tagged/video">video</a></li>
    <li><a href="/tagged/work">client</a></li>
  </ul>
</header>
