$blue       : rgb(45, 20, 185);
$darkBlue   : rgb(30, 30, 50);
$beige      : rgb(183, 167, 143);
$lightBeige : #BDB7AD;
$pinkBeige  : rgb(223, 187, 143);
$mutedPink  : rgb(134,75,134);
$mutedPurple : rgb(94, 53, 132);
$darkGray   : rgb(30,30, 30);

$nowBackground : rgb(30,30,30);
