@font-face {
  font-family: 'JunicodeRegularCondensed';
  src: url('../webfonts/junicode-regularcondensed-webfont.eot');
  src: url('../webfonts/junicode-regularcondensed-webfont.woff2') format('woff2'),
       url('../webfonts/junicode-regularcondensed-webfont.woff') format('woff'),
       url('../webfonts/junicode-regularcondensed-webfont.ttf') format('truetype'),
       url('../webfonts/junicode-regularcondensed-webfont.svg#junicoderegularcondensed') format('svg');
}
@font-face {
  font-family: 'JunicodeBoldCondensed';
  src: url('../webfonts/junicode-boldcondensed-webfont.eot');
  src: url('../webfonts/junicode-boldcondensed-webfont.woff2') format('woff2'),
       url('../webfonts/junicode-boldcondensed-webfont.woff') format('woff'),
       url('../webfonts/junicode-boldcondensed-webfont.ttf') format('truetype'),
       url('../webfonts/junicode-boldcondensed-webfont.svg#junicodeboldcondensed') format('svg');
}

@font-face {
  font-family: 'JunicodeRegular';
  src: url('../webfonts/junicode-regular-webfont.eot');
  src: url('../webfonts/junicode-regular-webfont.woff2') format('woff2'),
       url('../webfonts/junicode-regular-webfont.woff') format('woff'),
       url('../webfonts/junicode-regular-webfont.ttf') format('truetype'),
       url('../webfonts/junicode-regular-webfont.svg#junicoderegular') format('svg');
}

@font-face {
  font-family: 'JunicodeItalicCondensed';
  src: url('../webfonts/junicode-italiccondensed-webfont.eot');
  src: url('../webfonts/junicode-italiccondensed-webfont.woff2') format('woff2'),
       url('../webfonts/junicode-italiccondensed-webfont.woff') format('woff'),
       url('../webfonts/junicode-italiccondensed-webfont.ttf') format('truetype'),
       url('../webfonts/junicode-italiccondensed-webfont.svg#junicodeitaliccondensed') format('svg');
}

@font-face {
  font-family: 'JunicodeBold';
  src: url('../webfonts/junicode-bold-webfont.eot');
  src: url('../webfonts/junicode-bold-webfont.woff2') format('woff2'),
       url('../webfonts/junicode-bold-webfont.woff') format('woff'),
       url('../webfonts/junicode-bold-webfont.ttf') format('truetype'),
       url('../webfonts/junicode-bold-webfont.svg#junicodebold') format('svg');
}
