@import 'compass/css3/transform';
@import 'colors';

header {
  position: relative;
  padding-bottom: 65px;
  z-index: 2;
  overflow-x: hidden;
  // color: $lightBeige;
  color: #1e1e1e;

  &.past {
    // background: $mutedPink;
    background: #556a07;
  }

  &:after{
    content:'';
    display: block;
    position: absolute;
    width: 120%;
    height: 100%;
    top: -45px;
    left: -10%;
    border-bottom: 2px solid #1e1e1e;

    z-index: -1;
    @include transform(rotate(-2deg));
  }

  h1 {
    @include transform(rotate(-1deg));
    padding-bottom: 0.5em;

    @include breakpoint(small) {
      font-size: 5.5rem;
      padding-bottom: 10px;
    }
  }
  h1 a {
    color: #1e1e1e;
  }
  h2 {
    font-size: 36px;
    max-width: 612px;
    line-height: 45px;
    font-weight: 300;
    font-style: normal;

    @include breakpoint(small) {
      font-size: 2.6rem;
      line-height: 3.75rem;
    }

  }

  h2 {
    margin-top: 5px;
    margin-bottom: 7px;
  }

  h4 {
    margin-bottom: 13px;
  }
  a {
    // color: $lightBeige;
    color: #a0a;
  }
  a.inlineLink {
    border-bottom: 6px solid #1e1e1e;
  }
  ul {
    display: inline-block;
    vertical-align: top;
    width: 49%;
    max-width: 200px;
  }
  li {
    list-style: none;
    padding: 0;
    text-indent: 0;

    &:before {
      content: '•';
      color: #1e1e1e;
      padding-right: 0.5em;
    }
  }

  li.noBullet {
    &:before {
      content : '';
    }
  }
}

header.past ul a {
  color: #0f0;
}
