@import 'compass/css3/transform';
@import 'colors';

header {
  position: relative;
  padding-bottom: 65px;
  z-index: 2;
  overflow-x: hidden;
  color: $lightBeige;
  &.past {
    background: $mutedPink;
  }
  &:after{
    content:'';
    display: block;
    position: absolute;
    width: 120%;
    height: 100%;
    top: -45px;
    left: -10%;
    border-bottom: 2px solid #1e1e1e;

    z-index: -1;
    @include transform(rotate(-2deg));
  }

  h1 {
    @include transform(rotate(-1deg));
    padding-bottom: 0.5em;

    @include breakpoint(small) {
      font-size: 5.5rem;
      padding-bottom: 10px;
    }
  }
  h1 a {
    color: #1e1e1e;
  }
  a {
    color: $lightBeige;
  }
  ul {
    display: inline-block;
    width: 49%;
    max-width: 200px;
  }
  li {
    list-style: none;
    padding: 0;
    text-indent: 0;

    &:before {
      content: '•';
      color: #1e1e1e;
      padding-right: 0.5em;
    }
  }
}
