@import "compass";
@import "compass/css3/_images";

@mixin underline($textColor, $backgroundColor) {
  @include background-image(linear-gradient($textColor 0%, $textColor 100%));
	background-repeat: repeat-x;
	background-size: 1px 1px;
	background-position: 0 95%;
	text-shadow: -2px 1px 0 $backgroundColor,
		-1px 0 0 $backgroundColor,
		0 0 0 $backgroundColor,
		1px 0 0 $backgroundColor,
		2px 1px 0 $backgroundColor,
		-1px 2px 0 $backgroundColor,
		0 2px 0 $backgroundColor,
		1px 2px 0 $backgroundColor;
}

@mixin gradient($startColor, $point, $endColor){
    background: $endColor;
    @include background-image(linear-gradient($startColor, $endColor $point));
}

/* in use:
go from smallest to largest to ensure larger viewport styles
are not overwritten by smaller viewport styles.
*/
@mixin breakpoint($point) {
  @if $point == big {
    @media (min-width: 70em) { @content ; }
 }
 @else if $point == small {
    @media (max-width: 37.5em)  { @content ; }
 }
}
