@import 'mixins';
@import 'colors';
@import 'animations';
@import 'compass/css3/transform';

nav#page-nav {

  padding: 140px 15px 30px 30px;
  font-size: 5.0rem;
  color: $present-link-color;
  @include gradient($background-color, 100px, $present-accent-color);

  &>.wrapper{
    width: 100%;
    max-width: 612px;
    @include transform(rotate(-3deg));

    @include breakpoint(big) {
      &>*+* {
        margin-left: 0.25em;
      }
    }

    @include breakpoint(small) {
      width: 90%;
      margin: auto;

      font-size: 4.0rem;
      line-height: 4.25rem;

      a,
      span {
        display: block;
      }

      .extend.prev {
        text-align: left;
      }
      .extend.next {
        text-align: right;
      }
      .page-number {
        text-align: center;
      }
    }
  }

  a,
  a:visited {
    color: $text-color;
  }

}
