@import 'colors';
@import 'mixins';

article {
  position: relative;
  z-index: 100;
}

.post-tags {
  margin-top: 1.5em;
}
.tag-list {
  display: inline-block;
  margin-left: 0.25em;
  list-style: none;
  width: auto;
  li {
    display: inline-block;
    &+li {
      margin-left: 0.5em;
    }
  }
}
.tag-list-item {
  &:before {
    content : initial;
    padding-right: 0;
  }
}
.post-imageGroup,
.post-imageGroup-big,
.post-imageGroup-tall {
  font-size: 0;
  line-height: 0;

  img {
    vertical-align: top;
    margin: 2px;
  }
}
.post__media {
  max-width: 612px;
}

.post__media--big {
  //Support big images
  max-width: 918px;
}

.post__media--tall {
  //Support tall images
  max-width: 360px;
}