@import 'colors';
@import 'mixins';

article {
  position: relative;
  z-index: 100;
}

.post-tags {
  margin-top: 1.5em;
}
.tag-list {
  display: inline-block;
  margin-left: 0.25em;
  list-style: none;
  width: auto;
  li {
    display: inline-block;
    &+li {
      margin-left: 0.5em;
    }
  }
}
.tag-list-item {
  &:before {
    content : initial;
    padding-right: 0;
  }
}
.post-imageGroup,
.post-imageGroup-big {
  font-size: 0;
  line-height: 0;
}
.post-imageGroup img {
  vertical-align: top;
}

.post-imageGroup-big {
  //Support big images
  img {
    max-width: 918px;
  }
}
