layout: layout-default
----
<section class="category">
  <h1>Past</h1>
  <% page.posts.each(function(post) { %>
    <%- partial('_partial/article', {post: post}) %>
  <% }) %>
</section>

<%- partial('_partial/pagination') %>
