layout: layout-default
----
<section class="tag">
  <h3>Tagged as: <%- page.tag %></h3>
  <% page.posts.each(function(post) { %>
    <%- partial('_partial/article', {post: post}) %>
  <% }) %>
</section>

<%- partial('_partial/pagination') %>
