@import 'tailwindcss';
@config '../tailwind.config.js';

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer utilities {
  :root {
    --gutter: 1rem;
    --base-font-size: 1rem;
  }

  @media screen and (min-width: --theme(--breakpoint-md)) {
    :root {
      --gutter: 2rem;
    }
  }
}

@layer base {
  .markdown p {
    @apply mb-em/2 last:mb-0;
  }

  .markdown h1,
  .markdown h2,
  .markdown h3,
  .markdown h4,
  .markdown h5,
  .markdown h6 {
    @apply text-7;
    @apply font-bold;
    @apply mb-em/2 last:mb-0;
  }

  .markdown blockquote {
    @apply border-l-2px;
    @apply border-l-pea-green;
    @apply pl-em;
    @apply mb-em/2;
    @apply last:mb-0;
  }

  .markdown a,
  .markdown a:visited {
    @apply text-pea-green;
    @apply underline;
  }

  .markdown ul {
    @apply list-disc;
    @apply mb-em/2;
    @apply last:mb-0;
  }

  .markdown .block-content {
    @apply mb-em/2;
    @apply last:mb-0;
  }
}
